<!-- <form action="https://secure.awepay.com/txHandler.php" method="post">
        Currency: 
    <select name="sid" id="">
    <option value="2582">MYR</option>
    <option value="2583">THB</option>
    <option value="2584">IDR</option>
    <option value="2585">VND</option>
    <option value="2586">KRW></option>   
    </select>
    <BR>
    <input type="hidden" name="card_type" value="p2p" />
    <input type="hidden" name="ref1" value="TID" />
    <input type="hidden" name="ref2" value="" />

    <input type="hidden" name="successurl" value="http://samplesuccess.com" readonly><BR>
    <input type="hidden" name="failureurl" value="http://samplesuccess.com" readonly><BR>
    <table>
        
        <tr>
            <td>
            Quantity: <input type="text" name="item_quantity[]" value="1" readonly><BR>
            Name: <input type="text" name="item_name[]" value="Fiat Withdrawal" readonly><BR>
            Amount: <input type="text" name="item_amount_unit[]" value="0.00" readonly><BR>
            </td>
        </tr>
    </table>
    <input type="submit" value="Withdraw">
</form> -->